.slileParent{
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;

}

.logo img{
    width: 200px;
    height: 220px;
    padding-bottom: 20px;
    margin-top:50px;
    margin-left: 28px;
}
.titleParent{
    width: 250px;  
    color:#6786A1;
    border-top: 1px solid rgba(128, 128, 128, 0.578);
}

.titleParent p , h3 {
    padding-left: 25px;
}

.section{
    margin-top: 25px;
    border-top:1px solid #6786A1;
    width: 200px;
    margin-left: 20px;
    padding-top: 15px;
    cursor: pointer;
    

}
.section > p,h3 {
    padding-left: 0;
}
.sectionOne{
    margin-top: 20px;
    cursor: pointer;
}
.sectionOne h3{
    padding-left: 24px;
}